body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
  padding: 27px 0;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 5px;
  font-size: 23px;
  /* text-align: center;
  padding: 27px 0;
  font-weight: 800;
  margin: 0;
  letter-spacing: -1px;
  color: #34495e;
  font-size: 30px; */
}
/* h2 {
  text-align: left;
  padding: 10px 0;
  font-weight: 800;
  margin: 0;
  letter-spacing: -1px;
  color: #34495e;
  font-size: 30px;
} */
h3 {
  text-align: center;
  margin: 0 25px;
  letter-spacing: .5px;
  color: #fff;
  font-size: 22px;
  background-color: #495c6e;
  display: block;
  padding: 20px;
  text-decoration: none;
  font-weight: 543;
}
p, .container {
  margin: 0 25px;
}
.container form {
  text-align: center;
  padding: 35px;
}
.container form label {
  text-align: inherit;
}
head a img {
  position: relative;
}
.logo {
  float: left;
  padding: 30px;
}

/* .pg {
  display: flex;
  flex-wrap: row;
} */

nav {
  width: 80%;
  margin: 0 auto;
  background: #fff;
  padding: 50px 0;
  box-shadow: 0px 5px 0px #afaeae;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 5px;
  font-size: 17px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #34495e;
}
.pg {
  padding: 10px;
  position: relative;
  
}
.pgflex {
  display: flex;
  flex-direction: row;
}



@media only screen and (max-width:600px) {
  .pgflex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .pg {
    flex: 48%;
    height: 100px;
    margin-bottom: 2%;
    padding: 5%;
  }

}